name: Deploy To EC2

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH로 EC2에 접속하지
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }} # 인스턴스 IP
          username: ${{ secrets.EC2_USERNAME }} # 우분투 아이디
          key: ${{ secrets.EC2_PRIVATE_KEY }} # ec2 instance pem key
          SCRIPT_STOP: true
          script: | # 실행할 스크립트
            cd /cicd-server/cicd-server
            sudo git pull origin main
            sudo ./gradlew clean build
            sudo fuser -k -n tcp 8080 || true
            sudo nohup java -jar build/libs/*SNAPSHOT.jar > output.log 2>&1 &
